[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "content/post"]
	path = content/past
	url = git@github.com:chinf-tw/Article.git
[submodule "md-converter"]
	path = md-converter
	url = git@github.com:chinf-tw/md-converter.git
